* { box-sizing: border-box; }

:root {
    
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
}

.container {
    width: 1088px;
    margin: 0 auto;
}

/* header */
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
    background: white;
    border-bottom: 2px solid #EAEAEA;
    box-shadow: 0 3px 6px #cfcfcf;
    position: fixed;
    top: 0;
    width: 100%;
}

.top-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-section__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #08A6E5;
    font-size: 40px;
}

.top-section__nav-list {
    display: flex;
}

.top-section__nav-item, .top-section__nav-item a {
    height: 86px;
    width: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-section__nav-item:hover {
    background-color: #08A6E5;
}

.top-section__nav-item a, .footer-section__nav-item a {
    color: grey;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    text-decoration: none;
}

.header {
    background: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 75vh;
    margin-top: 400px;
    padding-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.header__title {
    color: black;
    font: normal normal 300 60px "Nunito Sans", sans-serif;
    letter-spacing: 0;
    text-shadow: 0 3px 6px #00000066;
}

.header__subtitle {
    color: black;
    font: normal normal 15px "Nunito Sans", sans-serif;
}
/* e: header */

/* buttons */
.btn-container {
    margin-top: 3.375em;
}

.btn {
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    margin-right: 1.5625em;
}

.btn-primary {
    background-color: #08A6E5;
    color: white;
}

.btn-large {
    padding: 1.375em 3.4375em;
}
/* e: buttons */

/* banner */
/* e: banner */

/* section */
/* e: section */

/* table */
/* e: table */

/* contact */
/* e: contact */

/* footer */
.footer {
    background-color: var(--gray-color-200);
    min-height: 230px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer__section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__section-column {
    display: flex;
    gap: 140px;
}

.footer-section__nav-item {
    margin-bottom: 5px;
}

.footer-section__nav-item a:hover {
    color: var(--secondary-color);
}
/* e: footer */