* { box-sizing: border-box; }

:root {
    
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
}

.container {
    width: 1088px;
    margin: 0 auto;
}


/* header */
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
    background: white;
    border-bottom: 2px solid #EAEAEA;
    box-shadow: 0 3px 6px #cfcfcf;
    position: fixed;
    top: 0;
    width: 100%;
}

.top-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-section__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #08A6E5;
    font-size: 40px;
}

.top-section__nav-list {
    display: flex;
}

.top-section__nav-item, .top-section__nav-item a {
    height: 86px;
    width: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-section__nav-item:hover {
    background-color: #08A6E5;
}

.top-section__nav-item a, .footer-section__nav-item a {
    color: grey;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    text-decoration: none;
}

.header {
    background: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 75vh;
    margin-top: 400px;
    padding-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.header__title {
    color: black;
    font: normal normal 300 60px "Nunito Sans", sans-serif;
    letter-spacing: 0;
    text-shadow: 0 3px 6px #00000066;
}

.header__subtitle {
    color: black;
    font: normal normal 15px "Nunito Sans", sans-serif;
}
/* e: header */


/* buttons */
.btn-container {
    margin-top: 3.375em;
}

.btn {
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    margin-right: 1.5625em;
}

.btn-primary {
    background-color: #08A6E5;
    color: white;
}

.btn-large {
    padding: 1.375em 3.4375em;
}
/* e: buttons */


/* banner */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 100px;
}

.section__columns {
    display: flex;
    gap: 16px;
}

.section__title {
    font: normal normal bold 2.1875em var(--primary-font);
    letter-spacing: 0;
    color: var(--black-color);
    text-transform: uppercase;
    margin-bottom: 2.1875rem;
}

.section__column--title {
    font: normal normal normal 1.1875em var(--primary-font);
    letter-spacing: 0;
    color: var(--gray-color-100);
    margin-top: 25px;
    margin-bottom: 15px;
}

.section__column--subtitle {
    font: normal normal 300 0.875em var(--secondary-font);
    letter-spacing: 0;
    color: var(--gray-color-100);
    margin-right: 92px;
    margin-bottom: 15px;
}
/* e: banner */


/* section */
/* e: section */


/* table */
/* e: table */


/* contact */
#contact .section__column {
    width: 50%;
}

#contact .section__column img {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__input {
    width: 100%;
    border: 1px solid var(--gray-color-400);
    border-radius: 8px;
    padding: 8px 12px;
    outline: none;
}

.form__input:focus {
    box-shadow: 0 1px 6px var(--secondary-color-transparent-100);
    border: 1px solid var(--secondary-color);
}

.form__input::placeholder {
    font: normal normal normal 1em var(--primary-font);
    letter-spacing: 0;
    color: var(--gray-color-300);
}

.form__checkbox-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.form__checkbox {
    margin-bottom: 20px;
}

.form .form__checkbox {
    font: normal normal 300 0.625em var(--secondary-font);
    letter-spacing: 0px;
    color: var(--gray-color-300);
}

.form input[type="submit"] {
    width: 142px;
    align-self: flex-end;
}

.form textarea { 
    height: 140px;
}

.form #checkbox { 
    width: 20px;
    margin-top: 4px;
}
/* e: contact */


/* footer */
.footer {
    background-color: #F7F7F7;
    border-top: 2px solid #EAEAEA;
    box-shadow: 0 3px 50px #cfcfcf;
    min-height: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer__section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__section-row {
    display: flex;
    gap: 140px;
}

.footer-section__nav-item {
    margin-bottom: 5px;
}

.footer-section__nav-item a:hover {
    color: green;
}
/* e: footer */