* { box-sizing: border-box; }

:root {
    
}

body {

}

.container {
    
}

/* header */
/* e: header */

/* buttons */
/* e: buttons */

/* blog */
/* e: blog */

/* service */
/* e: service */

/* contact */
/* e: contact */

/* footer */
/* e: footer */