* { box-sizing: border-box; }

:root {
    --white-color: #FFFFFF;
    --white-color-transparent-100: #FFFFFF33;
    --black-color: #000000;
    --black-color-transparent-100: #00000066;
    --black-color-transparent-200:#00000040;
    --gray-color-400: #D1D1D1;
    --gray-color-300: #B2B2B2;
    --gray-color-200:#28272C;
    --gray-color-100: #6A6A6A;
    --secondary-color: #FF0000;
    --secondary-color-transparent-100: #FF00004D;
    --primary-font: "Nunito Sans";
    --secondary-font: "Open Sans";
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
}

.container {
    width: 1088px;
    margin: 0 auto;
}

/* header */
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
    background: var(--black-color-transparent-100);
    border-bottom: 2px solid var(--white-color-transparent-100);
    position: fixed;
    top: 0;
    width: 100%;
}

.top-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-section__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.1875em;
}

.top-section__logo span { 
    color: var(--secondary-color);
}

.top-section__nav-list {
    display: flex;
}

.top-section__nav-item, .top-section__nav-item a {
    height: 86px;
    width: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-section__nav-item:hover {
    background-color: var(--white-color-transparent-100);
}

.top-section__nav-item a, .footer-section__nav-item a {
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
}

.header {
    background: linear-gradient(0deg, var(--black-color-transparent-100), var(--black-color-transparent-200)), url(../images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin-top: -110px;
    padding-top: 250px;
    text-align: center;
    display: flex;
    align-items: center;
}

.header__title {
    color: var(--white-color);
    font: normal normal 900 5.625em var(--primary-font);
    text-transform: uppercase;
    letter-spacing: 0;
    text-shadow: 0 3px 6px var(--black-color-transparent-100);
}

.header__subtitle {
    color: var(--white-color);
    font: normal normal bold 1em var(--primary-font);
}
/* e: header */

/* buttons */
.btn-container {
    margin-top: 3.375em;
}

.btn {
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    margin-right: 1.5625em;
}

.btn-primary {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.btn-secondary {
    background-color: var(--white-color);
    color: var(--secondary-color);
}

.btn-adjacent {
    background-color: var(--white-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    box-shadow: 0 3px 6px var(--secondary-color-transparent-100);
}

.btn-large {
    padding: 1.375em 3.4375em;
}

.btn-small {
    padding: 0.6875em 1.875em;
}
/* e: buttons */

/* blog */
/* e: blog */

/* service */
/* e: service */

/* contact */
/* e: contact */

/* footer */
/* e: footer */